# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.BCGJ.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnrealEngine\BCGJ\.idea\.idea.BCGJ.dir\.idea/dataSources/
/dataSources.local.xml
