# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BCGJ.iml
# Datasource local storage ignored files
/../../../../../../:\UnrealEngine\BCGJ\.idea\.idea.BCGJ\.idea/dataSources/
/dataSources.local.xml
